.productCardContainer {
  width: 300px;
  height: 120px;
  margin: 0px 25px;
}
.productCardImg {
  width: 300px;
  height: 100px;
  margin-bottom: 10px;
}
.productText {
  display: flex;
  flex-direction: column;
}
.productCardGrid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
}
.addCartBtn {
  cursor: pointer;
  margin-top: 35px;
  background-color: whitesmoke;
  border: 1px solid grey;
  padding: 5px;
  border-radius: 5px;
}

/*****Responsive*****/
@media (max-width: 650px) {
  .productCardContainer {
    width: 250px;
    height: 200px;
    margin: 0px 25px;
  }
}
